@import "/home/ubuntu/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/variables";
@import "/home/ubuntu/bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap/mixins";


/**************************
 * Scaffolding
 **************************/
body {
  background-color: #e8ebef;
  padding: 20px 30px;
}


/*************************
 * Shared CSS
 *************************/
#g-header {
  text-align: center;
  padding-bottom: 20px;
}

#g-logo {
  width: 151px;
  height: 35px;
}

#g-footer {
  white-space: nowrap;
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  
  a {
    color: #999;
    margin: 0px 3px;
  }
}

.content-container {
  background-color: #fff;
  padding: 10px 15px;
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}
