{% extends "/shared-email/base-layout.html" %}


{% block BODY %}
<div class="content-container">
  <h2>Password Reset Request</h2>
  <hr>
  <p>A password reset request has been issued for your account. To choose a new password click on the button below:</p>
  <p><a href="{{ reset_url }}" class="btn btn-primary">Choose New Password &raquo;</a></p>
  <p>If you're having trouble you can also use this link:</p>
  <p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
  <p><em>Note: If you did not issue this request please let us know (<a href="mailto:contact@errorpage.io">contact@errorpage.io</a>).</em></p>
</div>
{% endblock %}
