{% extends "/shared/modal-layout.html" %}


{% block HEADERTAGS %}
{{ super() }}
<style>
  .panel {
    max-width: 500px;
    margin: 0 auto;
  }
</style>
{% endblock %}


{% block BODY %}
<div class="panel panel-default">
  <div class="panel-body">
    <form method="post"
          action="{{ url_for('auth.reset_password') }}"
          role="form">
      {{ form.csrf_token }}
      <legend>Choose a new password</legend>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class_="form-control", placeholder="Password",
                         autofocus="true") }}
        {% if form.password.errors -%}
        <div class="text-danger">{{ form.password.errors[0] }}</div>
        {%- endif %}
      </div>
      <div class="form-group">
        {{ form.password_confirm.label }}
        {{ form.password_confirm(class_="form-control") }}
        {% if form.password_confirm.errors -%}
        <div class="text-danger">{{ form.password_confirm.errors[0] }}</div>
        {%- endif %}
      </div>
      <button type="submit" class="btn btn-primary">Save password</button>
    </form>
  </div>
</div>
{% endblock %}
