{% extends "/shared/base-layout.html" %}


{% block HTML %}
<div id="modal-wrapper">
  <header class="mui--text-center">
    {{ modal_header_html() }}
  </header>
  <div class="container-fluid">
    {% block BODY %}{% endblock %}
  </div>
</div>
<footer id="modal-footer">
  {{ modal_footer_html() }}
</footer>
{% endblock %}


{% macro modal_header_html() -%}
<a id="modal-header-brand" href="{{ url_for('content.home') }}">Flaskapp</a>
{%- endmacro %}


{% macro modal_footer_html() -%}
<nav class="mui-container-fluid">
  &copy;{{ h.datetime.datetime.today().year }} Flaskapp
</nav>
{%- endmacro %}
