{% extends "/shared/modal-layout.html" %}


{% block HEADERTAGS %}
{{ super() }}
<style>
  .mui-panel {
    max-width: 500px;
  }
</style>
{% endblock %}


{% block BODY %}
<div class="mui-panel">
  <legend>Success - an email has been sent</legend>
  <p>An email was sent to {{ email }} with instructions on how to reset your password.</p>
  <p>Would you like to:</p>
  <ul>
    <li><a href="{{ url_for('auth.forgot') }}">Send another email</a></li>
    <li><a href="{{ url_for('content.home') }}">Continue using the site</a></li>
  </ul>
</div>
{% endblock %}
