{% extends "/shared/modal-layout.html" %}


{% block HEADERTAGS %}
{{ super() }}
<style>
  .mui-panel {
    max-width: 500px;
  }
</style>
{% endblock %}


{% block BODY %}
<div class="mui-panel">
  <form method="post" action="{{ url_for('auth.forgot') }}" role="form">
    <legend>Reset your password</legend>
    {{ form.csrf_token }}
    <div class="mui-textfield">
      {{ form.email(placeholder="Email address",
                    autofocus="true",
                    type="email") }}
      {% if form.email.errors -%}
        <div class="mui--text-danger">{{ form.email.errors[0] }}</div>
      {%- endif %}
    </div>
    <button type="submit" class="mui-btn mui-btn--primary">Reset password</button>
  </form>
</div>
<div class="mui-panel mui--text-center">
  Remember your password? <a href="{{ url_for('auth.login') }}">Log in to your account &raquo;</a>
</div>
{% endblock %}
