{% extends "/shared/modal-layout.html" %}


{% block HEADERTAGS %}
{{ super() }}
<style>
  .mui-panel {
    max-width: 500px;
    margin: 0 auto;
  }
</style>
{% endblock %}


{% block BODY %}
<div class="mui-panel">
  <form method="post"
        action="{{ url_for('auth.reset_password') }}"
        role="form">
    {{ form.csrf_token }}
    <legend>Choose a new password</legend>
    <div class="mui-textfield">
      {{ form.password(placeholder="Password", autofocus="true") }}
      {% if form.password.errors -%}
      <div class="mui--text-danger">{{ form.password.errors[0] }}</div>
      {%- endif %}
    </div>
    <div class="mui-textfield">
      {{ form.password_confirm(placeholder="Confirm password") }}
      {% if form.password_confirm.errors -%}
      <div class="mui--text-danger">{{ form.password_confirm.errors[0] }}</div>
      {%- endif %}
    </div>
    <button type="submit" class="mui-btn mui-btn--primary">Save password</button>
  </form>
</div>
{% endblock %}
