{% extends "/shared/modal-layout.html" %}


{% block HEADERTAGS %}
{{ super() }}
<style>
  .mui-panel {
    max-width: 500px;
    margin: 0 auto;
  }
</style>
{% endblock %}


{% block BODY %}
<div class="mui-panel">
  <legend>Error! Reset link has expired</legend>
  <p>Sorry, the reset link you are using has expired. Please try to reset your password again.</p>
  <p>Would you like to:</p>
  <ul>
    <li><a href="/forgot">Try again</a></li>
    <li><a href="/">Continue using the site</a></li>
  </ul>
</div>
{% endblock %}
