{% from "skeleton.js" import global_js -%}
<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block TITLE %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="nodp, noydir">
    <meta name="description" content="{% block DESCRIPTION %}{% endblock %}">
    <meta name="keywords" content="{% block KEYWORDS %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <link rel="shortcut icon" href="{{ h.static('favicon.ico') }}"></link>
    <script>
      {% autoescape false -%}
      {{ global_js() }}
      {%- endautoescape %}
    </script>
    {% block HEADERTAGS %}{% endblock %}
  </head>
  <body>
    {% block HTML %}{% endblock %}
    {% block FOOTERTAGS %}{% endblock %}
  </body>
</html>
