{% extends "/shared-email/skeleton.html" %}


{% block HTML %}
<div id="g-header">
  <a href="http://www.errorpage.io">logo</a>
</div>
{% block BODY %}{% endblock %}
<div id="g-footer">
  <div>
    <a href="http://twitter.com#!/errorpage">Twitter</a>
    |
    <a href="http://www.facebook.com/errorpage">Facebook</a>
    |
    <a href="http://www.errorpage.io/newsletter">Newsletter</a>
    |
    <a href="mailto:contact@errorpage.io">contact@errorpage.io</a>
  </div>
  <div>
    &copy;{{ h.datetime.datetime.today().year }} ErrorPage Inc.
  </div>
</div>
{% endblock %}
