/**
 * Flaskapp Global Stylesheet
 * @module global
 */
/**
 * Variables
 */
/**
 * Global CSS
 */
html,
body {
  height: 100%;
  background-color: #eee;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Tahoma; }

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

/**
 * Layout CSS
 */
#header {
  margin-bottom: 20px; }

#wrapper {
  box-sizing: border-box;
  min-height: 100%;
  margin-bottom: -80px;
  padding-bottom: 80px; }

#footer {
  box-sizing: border-box;
  height: 80px;
  line-height: 80px;
  background-color: #ccc; }

#panel {
  box-sizing: border-box;
  min-height: -o-calc(100vh - 200px);
  min-height: calc(100vh - 200px); }

/**
 * Flash CSS
 */
#flash {
  position: fixed;
  top: 0;
  right: 0; }
  #flash li {
    font-size: 12px;
    color: #fff;
    background-color: red;
    padding: 1px 5px;
    margin: 2px; }

/**
 * Header CSS
 */
#header td > a {
  color: #fff; }

#header td > a:not(:last-child) {
  margin-right: 10px; }

#header a[data-mui-toggle="dropdown"] {
  color: #fff;
  cursor: pointer; }
  #header a[data-mui-toggle="dropdown"] :hover {
    color: #fff; }

/**
 * Modal CSS
 */
#modal-wrapper {
  min-height: 100%;
  margin-bottom: -50px;
  padding-bottom: 50px; }
  #modal-wrapper .mui-panel {
    margin: 0 auto 20px; }

#modal-footer {
  height: 50px;
  text-align: center; }
  #modal-footer a {
    color: #333; }

#modal-header-brand {
  color: #777;
  margin: 20px 0px;
  display: inline-block;
  font-size: 25px; }
  #modal-header-brand:hover {
    text-decoration: none; }
  #modal-header-brand img {
    height: 30px;
    width: 30px;
    position: relative;
    top: -3px; }
