/**
 * Flaskapp Global Stylesheet
 * @module global
 */


/**
 * Variables
 */
$bodyBackgroundColor: #eee;
$footerHeight: 80px;
$footerBackgroundColor: #ccc;
$flashesColor: #fff;
$flashesBackgroundColor: red;
$modalFooterHeight: 50px;


/**
 * Global CSS
 */
html,
body {
  height: 100%;
  background-color: $bodyBackgroundColor;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

.mui-btn {
  font-weight: 500;
}


/**
 * Layout CSS
 */
#header {
  margin-bottom: 20px;
}

#wrapper {
  min-height: 100%;
  margin-bottom: -($footerHeight);
  padding-bottom: $footerHeight;
}

#footer {
  height: $footerHeight;
  line-height: $footerHeight;
  background-color: $footerBackgroundColor;
}

#panel {
  $heightExpr: "100vh - 200px";
  min-height: -webkit-calc(#{$heightExpr});
  min-height: -moz-calc(#{$heightExpr});
  min-height: -o-calc(#{$heightExpr});
  min-height: calc(#{$heightExpr});
}


/**
 * Flash CSS
 */
#flash {
  position: fixed;
  top: 0;
  right: 0;

  li {
    font-size: 12px;
    color: $flashesColor;
    background-color: $flashesBackgroundColor;
    padding: 1px 5px;
    margin: 2px;
  }
}


/**
 * Header CSS
 */
#header {
  a {
    color: #fff;
    margin-right: 10px;
  }
}


/**
 * Modal CSS
 */
#modal-wrapper {
  min-height: 100%;
  margin-bottom: -($modalFooterHeight);
  padding-bottom: $modalFooterHeight;

  .mui-panel {
    margin: 0 auto 20px;
  }
}

#modal-footer {
  height: $modalFooterHeight;
  text-align: center;

  a {
    color: #333;
  }
}

#modal-header-brand {
  color: #777;
  margin: 20px 0px;
  display: inline-block;
  font-size: 25px;
  
  &:hover {
    text-decoration: none;
  }

  img {
    height: 30px;
    width: 30px;
    position: relative;
    top: -3px;
  }
}

